<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Guestlist {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <!-- new stuff before block! Includes links using AHREF and HR which adds a sectional break! -->
    <nav>
        <a href="{{ url_for('profile') }}">Profile Form</a> |
        <a href="{{ url_for('feedback') }}">Feedback Form</a> | 
        <a href="{{ url_for('admin_profiles') }}">See All Profiles</a> |
        <a href="{{url_for('admin_feedback')}}">See All Feedback</a>
    </nav>
    <hr>
    {% block content %} {% endblock %}

</body>
</html>